      body {
        margin: 8px;
      }
      
      .funParagraph {
        color: green;
      }
      
      #mainHeading {
        color: red;
      }
      Make sure to save this code in a file called styles.css in the same directory as your index.html file.
      
      
      
      
      
      