    body {
      margin: 8px;
      padding: 0;
      display: block;
    }
    
    .funParagraph {
      margin: 0;
      padding: 4px;
    }
    
    .travel-img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      padding: 4px;
    }

    footer p {
      text-align: center;
      }